* {
    margin: 0;
    padding: 0;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#map {
    width: calc(100% - 60px);
    height: calc(100% - 60px);
    border-color: black;
    border: 1px;
    border-style: solid;
    border-radius: 5px;
}
